$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00DCFC;
$secondary_paletteKeyColor: #597C8F;
$tertiary_paletteKeyColor: #537AA0;
$neutral_paletteKeyColor: #6D797D;
$neutral_variant_paletteKeyColor: #6A7A7E;
$background: #091518;
$onBackground: #D8E5E8;
$surface: #091518;
$surfaceDim: #091518;
$surfaceBright: #2F3B3E;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #121D20;
$surfaceContainer: #162124;
$surfaceContainerHigh: #202C2F;
$surfaceContainerHighest: #2B373A;
$onSurface: #D8E5E8;
$surfaceVariant: #3A494D;
$onSurfaceVariant: #B9C9CE;
$inverseSurface: #D8E5E8;
$inverseOnSurface: #263235;
$outline: #839498;
$outlineVariant: #3A494D;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00D9F9;
$primary: #00D9F9;
$onPrimary: #00363F;
$primaryContainer: #004E5B;
$onPrimaryContainer: #A6EEFF;
$inversePrimary: #006878;
$secondary: #A7CCE1;
$onSecondary: #0C3445;
$secondaryContainer: #274B5D;
$onSecondaryContainer: #C3E8FE;
$tertiary: #A3CAF4;
$onTertiary: #003354;
$tertiaryContainer: #6D94BC;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #A6EEFF;
$primaryFixedDim: #00D9F9;
$onPrimaryFixed: #001F25;
$onPrimaryFixedVariant: #004E5B;
$secondaryFixed: #C3E8FE;
$secondaryFixedDim: #A7CCE1;
$onSecondaryFixed: #001E2B;
$onSecondaryFixedVariant: #274B5D;
$tertiaryFixed: #CFE5FF;
$tertiaryFixedDim: #A3CAF4;
$onTertiaryFixed: #001D33;
$onTertiaryFixedVariant: #1F4A6D;
