$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0CBDFF;
$secondary_paletteKeyColor: #627995;
$tertiary_paletteKeyColor: #6676A5;
$neutral_paletteKeyColor: #6E7880;
$neutral_variant_paletteKeyColor: #6C7982;
$background: #0B141A;
$onBackground: #DAE4EC;
$surface: #0B141A;
$surfaceDim: #0B141A;
$surfaceBright: #313A41;
$surfaceContainerLowest: #060F15;
$surfaceContainerLow: #131D23;
$surfaceContainer: #172127;
$surfaceContainerHigh: #222B31;
$surfaceContainerHighest: #2D363C;
$onSurface: #DAE4EC;
$surfaceVariant: #3C4851;
$onSurfaceVariant: #BBC8D2;
$inverseSurface: #DAE4EC;
$inverseOnSurface: #283238;
$outline: #86929C;
$outlineVariant: #3C4851;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #7ED0FF;
$primary: #7ED0FF;
$onPrimary: #00344A;
$primaryContainer: #004C6A;
$onPrimaryContainer: #C5E7FF;
$inversePrimary: #00658B;
$secondary: #B1C8E8;
$onSecondary: #1A324B;
$secondaryContainer: #344B65;
$onSecondaryContainer: #D4E5FF;
$tertiary: #B5C5F9;
$onTertiary: #1D2F59;
$tertiaryContainer: #7F8FC0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #C5E7FF;
$primaryFixedDim: #7ED0FF;
$onPrimaryFixed: #001E2D;
$onPrimaryFixedVariant: #004C6A;
$secondaryFixed: #D1E4FF;
$secondaryFixedDim: #B1C8E8;
$onSecondaryFixed: #021D35;
$onSecondaryFixedVariant: #324862;
$tertiaryFixed: #DAE2FF;
$tertiaryFixedDim: #B5C5F9;
$onTertiaryFixed: #041943;
$onTertiaryFixedVariant: #354571;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0F1C24;
$term1: #7574FF;
$term2: #50CADE;
$term3: #60E9CB;
$term4: #70A4BC;
$term5: #749FDD;
$term6: #75C4DB;
$term7: #BAC9C4;
$term8: #A2ADA6;
$term9: #AAA7FF;
$term10: #B1F3FF;
$term11: #FFFFFF;
$term12: #AFCEDC;
$term13: #ABC9FF;
$term14: #B5EEFF;
$term15: #C4E8FF;
