$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #fe0063;
$secondary_paletteKeyColor: #9e6a62;
$tertiary_paletteKeyColor: #a66848;
$neutral_paletteKeyColor: #877274;
$neutral_variant_paletteKeyColor: #8a7174;
$background: #1d1011;
$onBackground: #f7dcde;
$surface: #1d1011;
$surfaceDim: #1d1011;
$surfaceBright: #463537;
$surfaceContainerLowest: #170b0c;
$surfaceContainerLow: #26181a;
$surfaceContainer: #2b1c1e;
$surfaceContainerHigh: #362628;
$surfaceContainerHighest: #413032;
$onSurface: #f7dcde;
$surfaceVariant: #574144;
$onSurfaceVariant: #debfc2;
$inverseSurface: #f7dcde;
$inverseOnSurface: #3d2c2e;
$outline: #a58a8d;
$outlineVariant: #574144;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #ffb2bc;
$primary: #ffb2bc;
$onPrimary: #670023;
$primaryContainer: #910035;
$onPrimaryContainer: #ffd9dd;
$inversePrimary: #bd0048;
$secondary: #f6b8ae;
$onSecondary: #4c251f;
$secondaryContainer: #673b34;
$onSecondaryContainer: #ffdad4;
$tertiary: #ffb693;
$onTertiary: #512309;
$tertiaryContainer: #c4815f;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #ffd9dd;
$primaryFixedDim: #ffb2bc;
$onPrimaryFixed: #400013;
$onPrimaryFixedVariant: #910035;
$secondaryFixed: #ffdad4;
$secondaryFixedDim: #f6b8ae;
$onSecondaryFixed: #33110c;
$onSecondaryFixedVariant: #673b34;
$tertiaryFixed: #ffdbcb;
$tertiaryFixedDim: #ffb693;
$onTertiaryFixed: #341000;
$onTertiaryFixedVariant: #6d391d;
$success: #b5ccba;
$onSuccess: #213528;
$successContainer: #374b3e;
$onSuccessContainer: #d1e9d6;
$term0: #271619;
$term1: #f63b62;
$term2: #ffa391;
$term3: #ffc4bf;
$term4: #a595c6;
$term5: #dd8195;
$term6: #f6a677;
$term7: #dcc0bc;
$term8: #bca5a3;
$term9: #ff909b;
$term10: #ffe1db;
$term11: #ffffff;
$term12: #e6c59b;
$term13: #ffb4bf;
$term14: #ffdfd3;
$term15: #ffd9dd;
