$darkmode: true;
$primary: #54dbc8;
$onPrimary: #003730;
$primaryContainer: #005046;
$onPrimaryContainer: #74f8e4;
$secondary: #b1ccc6;
$onSecondary: #1c3531;
$secondaryContainer: #334b47;
$onSecondaryContainer: #cce8e1;
$tertiary: #adcae5;
$onTertiary: #143349;
$tertiaryContainer: #2d4960;
$onTertiaryContainer: #cbe6ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1010;
$background: #0F1010;
$onBackground: #e0e3e1;
$surface: #191c1b;
$onSurface: #e0e3e1;
$surfaceVariant: #3f4946;
$onSurfaceVariant: #bfc9c6;
$outline: #889390;
$shadow: #000000;
$inverseSurface: #e0e3e1;
$inverseOnSurface: #2e3130;
$inversePrimary: #006b5f;
